/* WRAPPERS */
.slider-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}


.wrapper-boxed .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

/* HOMEPAGE SLIDES */
.cycle-slider {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.slider-slides {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.slider-slides .slide {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider-slides .slide-body {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.slider-slides .container {
    position: relative;
    height: inherit;
}

.slider-slides .slide-image {
    float: right;
    padding: 0;
    width: 48%;
}

.slider-slides .slide-image img {
    display: block;
    margin: 0 auto;
}

.slider-slides .slide-caption {
    overflow: hidden;
    float: left;
    padding: 0 0 30px;
    width: 48%;
    text-align: left;
}

.slider-slides .slide-caption p:last-child {
    margin-bottom: 0;
}

.slider-slides .slide-title {
    position: relative;
    margin: 0 0 30px;
}

.slider-slides .slide-content {
    padding: 0;
    margin: 0 0 30px;
}

/* Slide Positions */
.slider-slides .slide-right .slide-caption {
    float: right;
}

.slider-slides .slide-right .slide-image {
    float: left;
}

.slider-slides .slide-center .slide-body {
    width: 100%;
    left: 0;
}

.slider-slides .slide-center .slide-caption {
    float: none;
    margin: 0 25%;
    text-align: center;
}

.slider-slides .slide-center .slide-image {
    float: none;
    margin: 0 20%;
    width: 60%;
}


.slider-slides .slide-body {
    top: 15%;
}

.slider-slides .slide-caption {
    padding: 0 0 30px;
    line-height: 1.7
}

.slider-slides .slide-title {
    padding: 0 0 30px;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.slider-slides .slide-title:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px;
    opacity: .6
}

.slider-slides .slide-content {
    margin: 0 0 30px;
}

/* Slide Positions */
.slider-slides .slide-center .slide-title:after {
    left: 50%;
    margin-left: -50px;
}

/* Slide Colors */
.slider-slides .dark .slide-title:after {
    background: #fff;
}

/* Prev/Next */
.slider-pages {
    display: none;
}

.slider-prev,
.slider-next {
    -moz-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    opacity: 0.3;
    background: transparent;
    border: transparent;
}

.cycle-slider:hover .slider-prev,
.cycle-slider:hover .slider-next,
.cycle-slider:focus-within .slider-prev,
.cycle-slider:hover .slider-next,
.cycle-slider:focus-within .slider-next {
    opacity: 1;
}

.slider-prev,
.slider-next {
    position: absolute;
    width: 40px;
    height: 100px;
    font-size: 30px;
    line-height: 70px;
    margin-top: -35px;
    top: 50%;
    left: 1%;
    text-align: center;
    color: #fff;
    z-index: 99;
    cursor: pointer;
}

.slider-next {
    right: 1%;
    left: auto;
}

.slider-prev:before,
.slider-prev:after,
.slider-next:before,
.slider-next:after {
    display: block;
    content: ' ';
    position: absolute;
    top: 50px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #FAFAFA;
    border-radius: 50px;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.slider-prev:before,
.slider-next:before {
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.slider-prev:after,
.slider-next:after {
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.slider-next:before,
.slider-next:after {
    left: auto;
    right: 0;
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    transform-origin: right;
}



/* Transitions */
.slider-slides .slide-body .slide-caption {
    -moz-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.slider-slides .slide-body .slide-image {
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.slider-slides .cycle-slide-active .slide-caption,
.slider-slides .cycle-slide-active .slide-image {
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}

.slider-slides .cycle-slide-active .slide-image {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}



.header-slider-btn-group{
    overflow: hidden;
    margin-top: 10px
}


.header-slider-btn-group a{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 5px
}

.header-slider-btn-group a:nth-child(2){
    margin-left: 15px;
}



.header-slider-btn-group .btn-outline{
    background-color: transparent !important;
}

.header-slider-btn-group .btn-outline:hover{
    background-color: transparent !important;
    border-color: var(--primary-hover-color) !important;
    color: var(--primary-hover-color) !important;
}

/* LARGE SCREENS */
@media screen and (min-width: 1280px) {

}

/* TABLET SCREENS (LANDSCAPE) */
@media screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1250px) and (min-width: 600px){
  .slider-slides .slide-body {
        left: 20px;
        right: 20px;
    }
}

/* TABLET SCREENS (PORTRAIT) */
@media screen and (max-width: 800px) {


    /* CONTENT */
    .sidebar-double .content,
    .sidebar-double-left .content,
    .sidebar-double-right .content,
    .content {
        float: none;
        width: auto;
        margin: 30px 0 50px;
    }

    .sidebar-double .sidebar,
    .sidebar-double-left .sidebar,
    .sidebar-double-right .sidebar,
    .sidebar {
        clear: both;
        float: none;
        width: auto;
        margin: 0;
    }

    .sidebar-double .sidebar,
    .sidebar-double-left .sidebar,
    .sidebar-double-right .sidebar {
        float: left;
        width: 48%;
    }

    .sidebar-double .sidebar-secondary,
    .sidebar-double-left .sidebar-secondary,
    .sidebar-double-right .sidebar-secondary {
        clear: right;
        float: right;
    }

    /* SLIDER */
    .slider-slides .slide .slide-caption,
    .slider-slides .slide .slide-image {
        float: none;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

}

/* SMARTPHONE SCREENS */
@media only screen and (max-width: 600px) {

    /* SIDEBAR */
    .sidebar-double .sidebar,
    .sidebar-double-left .sidebar,
    .sidebar-double-right .sidebar,
    .cycle-slider {
        clear: both;
        float: none;
        width: auto;
        margin: 0;
    }

    .slider-slides {
        font-size: 0.8em;
    }

    .slider-slides .slide .slide-image {
        display: none;
    }

    .slider-slides .slide .slide-caption {
        margin: 0 20px;
    }
    .slider-prev:before,
    .slider-prev:after,
    .slider-next:before,
    .slider-next:after {
        width: 25px
    }
}