$style_content='
html{font-size:14px;line-height:1.4;background-color: #EAEAEA;font-family:txtfont;-webkit-text-size-adjust:100%}
body { margin:0 auto; padding:0;color:#333; overflow-x: hidden; }
*{box-sizing:border-box}
img{width:auto;height:auto;margin:0;max-width:100%;padding:0}
.media-player{
  overflow: hidden;
}
.media-player.audio,.media-body {
  position: relative;
  background-color:#000;
  display: block;
  user-select: none;
  height:100%; 
}

.media-body:-webkit-full-screen{width: 100% !important;height: 100% !important; }
.media-body:-moz-full-screen{width: 100% !important;height: 100% !important;}
.media-body:-o-full-screen{width: 100% !important;height: 100% !important;}
.media-body:-ms-fullscreen{width: 100% !important;height: 100% !important;}
.media-body:fullscreen{height: 100% !important;width:100% !important}


.media-player .fa{
color:#'.$style['icon'].';
cursor:pointer;
margin:0px 3px 0px 3px;
min-width:15px;
}

@keyframes rotate { 100% {transform:rotateY(360deg); } }
.media-player ul{display:none}
.media-time{color:#E0E0E0;}


.media-time-hover{
display:none;
position: absolute;
bottom:'.$style['bottom_hover_time'].'px;
background-color: #'.$style['bg_item_out'].';
padding:3px 5px 3px 5px;
border-radius:15px;
font-size:14px;
width:80px;
margin-left:-40px;
text-align: center;

}

.media-time-hover::after{
    content: " ";
    position: absolute;
    top: 97%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #'.$style['bg_item_out'].' transparent transparent transparent;
}
.hover-left{left:2px;margin-left:0px}
.hover-right{right:2px;margin-left:0px}
.hover-left::after,.hover-right::after{display:none;}

.media-item-click,.media-player .fa:hover{color:#'.$style['icon_hover'].' !important}

.media-item {
    position: relative;
    display: inline-block;
}

.media-item-body {
	display:none;
    position: absolute;
    z-index: 2017;
    right:-70px;
	bottom:25px;
	border-radius: 2px;
    width:200px;
	overflow: hidden;
}
.media-item-body>div{
	overflow: auto;
	max-height:'.$style['audio_img_size'].'px;
	width: 220px;
	padding-right:10px;
}


.media-item-body span{
cursor:pointer;
display:block;
background-color: #'.$style['bg_item_out'].';
padding:6px;
font-size:14px;
overflow: hidden;
white-space: nowrap;

}


.media-item-body span:hover {
background-color:#'.$style['bg_item_hover'].' !important;
}
.item-active{background-color:#'.$style['bg_item_selected'].' !important;
}

.media-item-body a {
color: #'.$style['bg_item_in'].';
display: block
}



.media-setting-body{
  display:none;
  z-index:2018
}
.media-setting-body span{
  color:gray;
  background-color: #'.$style['bg_item_in'].';
}

.media-controls,.media-ads {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: '.$style['icon_size'].'px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  '.($style['bg_bot_control']==0 ? 'background-color: transparent;' : ' background-color: rgba('.hex_to_rgba('#'.$style['navbar_top'].'').','.$style['navbar_transparent'].');
  background-image: linear-gradient(to bottom, rgba('.hex_to_rgba('#'.$style['navbar_top'].'').','.$style['navbar_transparent'].'), rgba('.hex_to_rgba('#'.$style['navbar_bottom'].'').','.$style['navbar_transparent'].'));
').'
  z-index: 2005;
  max-height:'.$style['max_height_bot_control'].'px

}
.controls-pd{padding:0px 10px 0px 10px}
.media-ads-link{font-size:15px;background-color: #E7E7E7;padding:7px;border-radius:30px;display:inline-block;margin:0px 5px 10px 5px}
.media-ads-skip,.media-ads-time{font-size:15px;float:right;background-color: #E7E7E7;padding:7px;border-radius:30px;display:inline-block; cursor:pointer; background-color: #07141e;  background-color: rgba(7,20,30,.7);margin:0px 5px 10px 5px}


.media-ads-popup{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	bottom:60px;
	max-width:750px;
    width: 90%;
	margin-bottom:5px;
	text-align: center;
	z-index:2002;
	font-size:18px
}

.media-ads-popup img {	max-height:100px;	display:inline-block;}
.media-ads-close{position: absolute;cursor:pointer; right:5px;top:5px}
.media-ads-close:hover{font-size:19px}
.audio .media-ads-popup{left: auto !important;width:80%;}
.audio-title,.audio-singer{display:block}

.media-title,.media-title-ads{
  position: absolute;
  top: 0;
  color: #'.$style['navbar_color'].';
  width: 100%;
  padding: 10px;
  background-color: rgba('.hex_to_rgba('#'.$style['navbar_top'].'').','.$style['navbar_transparent'].');
  background-image: linear-gradient(to bottom, rgba('.hex_to_rgba('#'.$style['navbar_top'].'').','.$style['navbar_transparent'].'), rgba('.hex_to_rgba('#'.$style['navbar_bottom'].'').','.$style['navbar_transparent'].'));
  z-index: 2005;
  text-align:center
}
.media-play-warning{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	top:50%;
	max-width:750px;
    width: 80%;
	text-align: center;
	z-index:2003;
	background-color: #'.$style['navbar_top'].';
	padding:10px;
	color:yellow;
	opacity: 0.7;
	display:none
}



.media-title span{opacity:0.8;padding:2px;color:#'.$style['progress_bar_active'].';float:right}

.media-center {
    position:absolute;
    top:50%;
    left:50%;
	text-align: center;
	font-size:60px;
	transform: translate(-50%, -50%);
}



.media-play-loading{
animation:ispin 5s linear infinite;

}









video::cue {
  background: transparent;
  position:0%
}

video::cue(v[voice=\'Red\']) { color:#FF0000;}
video::cue(v[voice=\'Blue\']) { color:#0000ff;}
video::cue(v[voice=\'Green\']) { color:#00ff00;}
video::cue(v[voice=\'Yellow\']) { color:#ffff00;}
video::cue(v[voice=\'Black\']) { color:#000000;}
video::cue(v[voice=\'White\']) { color:#FFFFFF;}



.media-progress {/*Parents progress*/
    position: relative;
    width: 100%;
    display: block;
	opacity:0.9;
	cursor:pointer
	
}

.media-buffered {/*Has loaded*/
    position: absolute;
	left:0px;
    width: 0px;
    display: inline-block;
	border-bottom:1px solid #'.$style['progress_bar_active'].';
	bottom:'.$style['progress_bar_bottom'].'px;
	z-index:2006;

}

.media-progress-bar {/*BG seek bar*/
    position: absolute;
    width: 100%;
    cursor:pointer;
    height: 6px;
    background: #'.$style['progress_bar'].';
	border:none;
	transition: all 0.3s ease;
	bottom: '.$style['progress_bar_bottom'].'px;
	z-index:2006
}



.media-progress-bar::-webkit-progress-bar {/*Chrome-Safari BG seek bar*/
    background: #'.$style['progress_bar'].';
    border:none
}
.media-progress-bar::-webkit-progress-value { /*Chrome-Safari value*/
    background: #'.$style['progress_bar_active'].';
    border:none
}
.media-progress-bar::-moz-progress-bar { /*Firefox value*/
    background: #'.$style['progress_bar_active'].';
    border:none
}

.media-progress-bar::-ms-fill { /*IE-MS value*/
    background: #'.$style['progress_bar_active'].';
    border:none
}








.media-volume-bar{
width:50px;
background:#'.$style['progress_bar'].';
display:inline-block;
height:'.$style['volume_height'].'px;
 position:relative;
}
.media-volume-bar > span{
background:#'.$style['progress_bar_active'].';
width:100%;
height:100%;
position:absolute;
}



.media-playlist-count{left:40%;top:-5px;position: absolute;font-size:8px;padding:2px;background-color:#'.$style['progress_bar_active'].';color:black;border-radius:50%;min-width:12px;max-height:12px;display:inline-block;text-align: center;}
.media-player audio{ margin-top:10px}
.media-player.audio .media-meta>img{max-width:100%;float:left;width:'.$style['audio_img_size'].'px;height:'.$style['audio_img_size'].'px;padding:'.$style['audio_img_padding'].'px;border:1px solid transparent;border-radius:'.$style['audio_img_radius'].'%;}
.media-player.audio .audio-info{font-size:'.$style['audio_font_size'].'px;padding:1px; position: absolute; bottom:40%;color: #'.$style['navbar_color'].';}
.img-spin{'.($style['audio_img_spin_speed']>0 ? 'animation:ispin '.$style['audio_img_spin_speed'].'s linear infinite' : '').'}

@keyframes ispin { 100% {transform:rotate(360deg); } }
.media-player.audio {
	color: #fff;
	background: linear-gradient(-45deg, #'.$style['audio_bg_1'].', #'.$style['audio_bg_2'].', #'.$style['audio_bg_3'].', #'.$style['audio_bg_4'].');
	background-size: 400% 400%;
	animation: Gradient 10s ease infinite;
	overflow:hidden;
	height:'.$style['audio_height'].'px
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}



@media(max-width: 480px) {/*is Mobile*/

#media-volume{display:none}
.media-item-body {right:-20px;}


}


@media(max-width: 600px) {/*is Table & Mobile*/
.media-player.audio .media-item-body>div{ max-height:'.$style['audio_img_size_mb'].'px }
.media-player.audio .audio-info {font-size:'.($style['audio_font_size']-2).'px;}
.media-player.audio {height:'.$style['audio_height_mb'].'px;}
.media-player.audio .media-meta>img{height:'.$style['audio_img_size_mb'].'px;width:'.$style['audio_img_size_mb'].'px;}

}


.media-player video{
  cursor:pointer;
  width: 100%;
  min-height: 100%;
  height:auto;
  object-fit: cover;
	}
	
.video-full-page{
	display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
   transition: 1s opacity;
   cursor:default;
}
	
';