body { background: url('https://trangweb.vn/source/Facebook_Style/background.php') top no-repeat fixed !important; }
 
#bluebarRoot>div{background:#2eb8c1 !important; border-bottom:none !important;}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius:10px
}

::-webkit-scrollbar{background-color: #F5F5F5;}

::-webkit-scrollbar-thumb{
	background-color: #11769e;
	border-radius:10px
}
.fbChatSidebar{background:transparent !important;box-shadow:none !important;border-left:none !important}
/*
#pagelet_sidebar{display:none !important}
#leftCol{visibility: hidden !important}
*/